# downloader service

[Unit] 
Description= Download Bing background image every day

[Service]
Type= simple
WorkingDirectory=/home/zhou/playground/bing-bg-downloader
ExecStart=/usr/bin/python3 /home/zhou/playground/bing-bg-downloader/src/downloader.py

